<?xml
  version="1.0"
  encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding
      xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity
          culture="neutral"
          name="System.Runtime"
          publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect
          newVersion="2.6.10.0"
          oldVersion="0.0.0.0-2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity
          culture="neutral"
          name="System.Threading.Tasks"
          publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect
          newVersion="2.6.10.0"
          oldVersion="0.0.0.0-2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpConfig" maxReceivedMessageSize="1000000"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="BasicTcpConfig" maxReceivedMessageSize="1000000" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/Kts.Gis.Data.WcfFigureAccessService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpConfig"
        contract="WcfDataRef.IWcfFigureAccessService" name="BasicHttpBinding_IWcfFigureAccessService" />
      <endpoint address="net.tcp://localhost:45617/Kts.Gis.Data.WcfFigureAccessService"
        binding="netTcpBinding" bindingConfiguration="BasicTcpConfig"
        contract="WcfDataRef.IWcfFigureAccessService" name="NetTcpBinding_IWcfFigureAccessService">
        <identity>
          <userPrincipalName value="shkulev_ki@jkhrs.ru" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Kts.Gis.Data.WcfFigureAccessService">
        
        <endpoint address="" binding="basicHttpBinding" contract="Kts.Gis.Data.Interfaces.WCF.IWcfFigureAccessService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Kts.Gis.Data/WcfFigureAccessService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  -->
</configuration>