<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWcfFigureAccessService"/>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWcfFigureAccessService"/>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Kts.Gis.Data.WcfFigureAccessService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfFigureAccessService" contract="ServiceReference1.IWcfFigureAccessService" name="BasicHttpBinding_IWcfFigureAccessService"/>
            <endpoint address="net.tcp://localhost:45617/Kts.Gis.Data.WcfFigureAccessService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWcfFigureAccessService" contract="ServiceReference1.IWcfFigureAccessService" name="NetTcpBinding_IWcfFigureAccessService">
                <identity>
                    <userPrincipalName value="shkulev_ki@jkhrs.ru"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
