<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime sku=".NETFramework,Version=v4.0" version="v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="2.6.10.0" oldVersion="0.0.0.0-2.6.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect newVersion="2.6.10.0" oldVersion="0.0.0.0-2.6.10.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="BasicHttpBinding_IWcfFigureAccessService" />-->
        <binding name="BasicHttpBinding_IWcfDispatchAccessService"/>
      </basicHttpBinding>
      <netTcpBinding>
        <!--<binding name="NetTcpBinding_IWcfFigureAccessService" />-->
        <binding name="NetTcpBinding_IWcfDispatchAccessService"/>
      </netTcpBinding>
    </bindings>
    <client>
      <!--ServiceReference1.IWcfFigureAccessService-->
      <!--http://localhost:8080/Kts.Gis.Data.WcfFigureAccessService-->
      <endpoint address="http://localhost:8080/Kts.Gis.Data.WcfDispatchServer" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfDispatchAccessService" contract="ServiceReference1.IWcfDispatchServer" name="BasicHttpBinding_IWcfDispatchAccessService"/>
      <endpoint address="net.tcp://localhost:45617/Kts.Gis.Data.WcfDispatchServer" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWcfDispatchAccessService" contract="ServiceReference1.IWcfDispatchServer" name="NetTcpBinding_IWcfDispatchAccessService">
        <identity>
          <userPrincipalName value="shkulev_ki@jkhrs.ru"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
