<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

  <system.serviceModel>
    <bindings>
      
      <netTcpBinding>  
         
        <binding name="netTcpBindingConf" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed" openTimeout="00:25:00" closeTimeout="00:25:00" sendTimeout="00:25:00" receiveTimeout="00:25:00">
           <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxBytesPerRead="2147483647"/>
         <security mode="None"/>  
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="basicHttpBindingConf" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed" openTimeout="00:25:00" closeTimeout="00:25:00" sendTimeout="00:25:00" receiveTimeout="00:25:00">
           <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxBytesPerRead="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="mexBehavior" name="Kts.Gis.Data.WcfDispatchServer">
        <!--<endpoint address="Kts.Gis.Data.WcfFigureAccessService" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConf"-->
        <endpoint address="Kts.Gis.Data.WcfDispatchServer" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConf" contract="Kts.Gis.Data.IWcfDispatchServer"/>
        <endpoint address="Kts.Gis.Data.WcfDispatchServer" binding="netTcpBinding" bindingConfiguration="netTcpBindingConf" contract="Kts.Gis.Data.IWcfDispatchServer"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://172.16.3.194:8080"/> 192.168.0.9-->
            <add baseAddress="http://*:8080"/>
            <add baseAddress="net.tcp://*:45617"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483647"/>
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="100" maxConcurrentInstances="100"/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
