<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWcfDispatchServer"/>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWcfDispatchServer"/>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Kts.Gis.Data.WcfFigureAccessService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfDispatchServer" contract="DispatchRef.IWcfDispatchServer" name="BasicHttpBinding_IWcfDispatchServer"/>
            <endpoint address="net.tcp://localhost:45617/Kts.Gis.Data.IWcfDispatchServer" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWcfDispatchServer" contract="DispatchRef.IWcfDispatchServer" name="NetTcpBinding_IWcfDispatchServer">
                <identity>
                    <userPrincipalName value="Shkulev_KI@jkhrs.ru"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
